ul {
  display: table;
  padding: 0;
}

@media (max-width: 500px) {
  ul {
    margin: 0 auto;
  }
}

ul li {
  display: table-cell;
  padding: 15px 30px 15px 0;
}

@media (max-width: 500px) {
  ul li {
    display: block;
    padding-left: 30px;
  }
}

ul li a {
  display: block;
  position: relative;
}

ul li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
}

ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/assets/image/sprite.png") no-repeat center center;
  opacity: 0;
}

ul li a:hover:before,
ul li a:hover:after {
  opacity: 1;
}

.lastRow {
  padding-bottom: 58px;
}

