<div class="row">
  <div class="col-md-6 col-sm-12">
    <h3>Just default Section</h3>
    <p>Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I
      love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.
    </p>
    <p>Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love
      powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.</p>
    <p class="button text-uppercase"><a href="#">Visit me</a></p>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="560" height="310" src="https://www.youtube.com/embed/nMVJxTcU8Kg"
              frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
