<div class="row">
  <div class="col-md-12">
    <h3 class="text-uppercase">Who is john doe?</h3>
  </div>
</div>
<div class="row paddBottom">
  <div class="col-md-6 col-sm-12">
    <p>
      Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I
      love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.
    </p>
    <p>
      Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love
      powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.
    </p>
  </div>
  <div class="col-md-6 col-sm-12">
    <p>
      Pudding dessert jujubes tiramisu gingerbread croissant tiramisu applicake. Sesame snaps sugar plum cotton candy
      chocolate bonbon lemon drops candy canes cotton candy. Cake toffee pie bear claw pastry.
    </p>
    <p>
      <span><a href="#"><i class="fa fa-twitter"></i></a></span>
      <span><a href="#"><i class="fa fa-google-plus"></i></a></span>
      <span><a href="#"><i class="fa fa-dribbble"></i></a></span>
      <span><a href="#"><i class="fa fa-coffee"></i></a></span>
    </p>
  </div>
</div>

